@import "vendor/normalize";
@import "vendor/settings";
@import "vendor/foundation";

.header-area {
  background-color: $topbar-bg-color;
  color: rgb(156, 142, 142);
}
// FOOTER AREA
.footer-area {
  background-color: $topbar-bg-color;
  color: rgb(156, 142, 142);
/*  min-height: 50px;
  padding: 20px 0 0 0; */
}
.footer-area ul.home-social {
  display: block;
  float: right;
  margin-bottom: 8px;
}
.footer-area ul.home-social {
  display: block;
  float: right;
  margin-bottom: 8px;
}

.footer-area ul.home-social li:first-child {
  margin-left: 0;
}
.footer-area ul.home-social li {
  list-style: none;
  display: block;
  font-weight: 700;
  font-size: 2.5em;
  float: left;
  margin-left: 10px;
}

.copyright {
  margin-right: 16px;
}


.footer-area ul.links {
  margin-top: 10px;
  display: inline-block;
}
.footer-area ul.links li {
  display: block;
  float: left;
  margin-left: 6px;
  font-family: "Proxima Nova Condensed", "proxima-nova-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
}




body {
  margin: 0 0 100px; /* bottom = footer height */
}
.debug-area {
//  background-color: $topbar-bg-color;
  color: rgb(156, 142, 142);
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}




h1 h2 h3 h4 {font-family: 'Aldrich', sans-serif; font-weight: 400; }
.top-bar-section {font-family: 'Aldrich', sans-serif; font-weight: 400; }


.ppag {
  font-size: small;
}
/*
$button-bg: #eb974e;

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-left: solid 1px rgb(102, 99, 99);
}





.top-bar-section > ul > li {
  &:hover {
    background: darken($button-bg, 5%);
    color: rgba(255, 255, 255, 1);
  }
  &:active {
    //@include box-shadow(0px 4px 0px #a74d46);
    background: darken($button-bg,8%);
  }
}




padding: 0 15px;
line-height: 45px;
background: #3D3C3C;

*/



/*
 nav {
  h2 {
    font-weight: 300;
    color: #5c6d7e;
  }
  .button {
    border:0;
    background: $button-bg;
    @include box-shadow(0);
    font-size: emCalc(12px);
    color: rgba(255,255,255,.8);
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
    @include box-shadow(0px 4px 0px #a74d46);
    &:hover {
      background: darken($button-bg,5%);
      color: rgba(255,255,255,1);
    }
    &:active {
      @include box-shadow(0px 4px 0px #a74d46);
      background: darken($button-bg,8%);
    }
  }
  */
 
@media #{$topbar-media-query} {

  .itemHide {
    display: none;
  }


}