    <div class="row">
      <div class="large-6 columns">
        <p>&copy; 2013 Amigos de Serrablo</p>
      </div>

      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>
            <a href="#">Equipo</a>
          </li>

          <li>
            <a href="#">Patrocinio/Mecenazgo</a>
          </li>

          <li>
            <a href="#">Newsletter</a>
          </li>

          <li>
            <a href="#">Link 4</a>
          </li>
        </ul>
      </div>
    </div>